body{
   background:url("background/grunge-paper-background_1048-10026.webp");
    color: white;


}
header{
    height: 250px;
    background : rgba(160,123,106,3.72);
    margin-top: -100px;
    border-radius: 60px;
    border: 1px solid saddlebrown;

}

#menu{
    display:grid ;
    grid-template-columns: 200px 200px 200px 200px;
    font-size: 25px;
    text-align: center;
    margin-top: -40px;
}
#menu li{
    list-style-type: none;
}
#menu li a{
    text-decoration: none;
    color:white;
    font-style: oblique;
}
#Teona{
    font-size: 70px;
    font-family:Mistral;
    text-align: center;
    color: white;
    padding-top: 30px;

}
.comunity{
display: grid;
    grid-template-columns:50px 50px;
    background: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 20px;
float: right;
    margin-right: 50px;
}
.comunity a{
 color: transparent;
}
.insta{
    background: url("background/inst.png")no-repeat;
   width: 33px;
    height: 33px;
}
.fb{
    background: url("background/fb.png")no-repeat;
 width: 34px;
    height: 34px;

}
footer {

    background : rgba(160,123,106,3.72);
    height: 80px;
    border-radius: 60px;
   border:  1px solid saddlebrown;
    padding-bottom: -1000px;

}
footer p{
    display: inline-block;
    margin-left: 80px;
    padding-top: 15px;

}
footer a{
    text-decoration: none;
    color: white;
    font-style: oblique;
}

.slika1{
    background: url("background/slika1.jpg")no-repeat;
   width: 420px;
    height: 560px;
    margin-top: 100px;
    margin-left: 900px;
    border: 2px solid  saddlebrown;
    border-radius: 10px;


}
.slika2{
    background: url("background/sliak 2.jpg")no-repeat;
    width: 444px;
    height: 594px;
    border-radius: 10px;
    border: 2px solid  saddlebrown;
    margin-top: -400px;
    margin-left: 90px;
    margin-bottom: 200px;


}
.prazno{
    width: 304px;
    height: 500px;
    background: white;
    margin-top: 150px;
    margin-left: 50px;
}
.slika3{
    background: url("background/slika3.jpg")no-repeat;
    width: 315px;
    height: 660px;
    margin-top: -430px;
    margin-left: 150px;
}
.NAME{
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;

}
.Lname{
    display: inline-block;
    margin-left: 800px;
}
.form{
    margin-top: 100px;
    font-weight: bolder;
    font-size: 30px;
    font-style: oblique;

}
.form p{
    color:rgba(160,123,106,3.72);
}
.Subject{
    text-align: center;
    margin-top: 100px;
}
input,textarea{
    background:rgba(155,123,106,3.72);
}
input {
    height: 30px;
    border-radius: 5px;
    border-style: none;
    color: white;
}
textarea{
    border-radius: 5px;
    border-style: none;
    color: white;
}
.button{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;

}
.button input{
    width: 600px;
    height: 50px;
}
.bio{
    color: saddlebrown;
    font-size: 20px;
    background: white;
    width: 700px;
    height: 700px;
    margin-top: -600px;
    margin-left: 600px;
    border-radius: 70px;
    margin-bottom: 200px;
    font-style: oblique;

}
 .bio p
{
    width: 600px;
    padding-top: 60px;


}
 .bio p:nth-of-type(1)
 {
     padding-left: 20px;
     padding-top: 150px;
 }
.bio p:nth-of-type(2)
{
    padding-left: 50px;
}
.bio p:nth-of-type(3)
{
    padding-left: 80px;
}
div .content{
    width: 1400px;
    margin: auto;
}

.slika4{
    background: url("background/e2.jpg")no-repeat;
    width: 544px;
    height: 335px;
    border: 4px solid white;
    float: right;
}
.slika5{
    background: url("background/e3.jpg")no-repeat;
    width: 557px;
    height: 346px;
    border: 4px solid white;
    margin-top: 200px;
    margin-bottom: 200px;


}
.text p{
    width: 500px;
    font-size: 23px;
    color: saddlebrown;
}
.p1{
    margin-top: 130px;
    padding-top:50px;

}
.p2{
    float: right;
    margin-top: -550px;

}
.aktiv{
    background: rgba(167,153,156,0.72);
    border-radius: 5px;
}

